.btn-container{
    width: 100vw;
    display: flex;
    flex-direction: center;
    justify-content: center;
    margin-top: 20px;
    .btn{
        width: 80%;
        height: 50px;
        border: 1px solid #a57736;
        background-color: #bd8436;
        .btn-title{

        }
        .btn-text{

        }
    }
}