.Main{
     margin:0px;
    .Main-header{
    width:100vw;
    height: 80px;
    background-color: #f3e7e0;
    border-radius: 0px 0px 50px 50px;
box-shadow: 1px 2px 4px 1px rgba(215,215,215,0.71);
.header-title{
    font-size: 18px;
    letter-spacing: 3px; 
    text-align: center;
    padding-top: 28px;
    font-weight: 400;
        }
    }
}
