.Main{
     margin:0px;
    .Main-header{
    width:100vw;
    height: 80px;
    background-color: #f3e7e0;
    border-radius: 0px 0px 50px 50px;
.header-title{
    font-size: 18px;
    letter-spacing: 3px; 
    text-align: center;
    padding-top: 28px;
        }
    }
}
